<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- GuardianDao 인터페이스의 전체 패키지명을 namespace로 사용 -->
<mapper namespace="com.rezero.anyotherday.guardian.dao.GuardianDao">

  <!-- 1) 보호자 회원가입 -->
  <insert id="insertGuardian" parameterType="com.rezero.anyotherday.guardian.dto.GuardianDto">
    INSERT INTO guardian ( name, email, password, phone )
    VALUES ( #{name}, #{email}, #{password}, #{phone} )
  </insert>

  <!-- 2) 이메일로 보호자 1명 조회 (로그인용) -->
  <select id="selectByEmail" parameterType="string"
    resultType="com.rezero.anyotherday.guardian.dto.GuardianDto">
    SELECT
    guardian_id AS guardianId,
    name,
    email,
    password,
    phone,
    created_at AS createdAt,
    updated_at AS updatedAt,
    status
    FROM guardian
    WHERE email = #{email}
    AND status = 'active'
  </select>

  <!-- 3) ID로 보호자 1명 조회-->
  <select id="selectById" parameterType="int"
    resultType="com.rezero.anyotherday.guardian.dto.GuardianDto">
    SELECT
    guardian_id AS guardianId,
    name,
    email,
    password,
    phone,
    created_at AS createdAt,
    updated_at AS updatedAt,
    status
    FROM guardian
    WHERE guardian_id = #{guardianId}
    AND status = 'active'
  </select>

</mapper>
